{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="py-1">
        <button  id="upl-btn" class="btn btn-success navigation" route="{% url 'createhood' %}">
            <i class="fas fa-plus float-left"></i>
            <div class="hoodadd">New hood</div>
        </button>
    </div>
<div class="py-1">
    {% for neighbourhood in hoods %}
    <div class="card col-12 col-sm-6 col-lg-4 float-left p-1 group">
     <div class="bg-dark" style="height: 100%;">
         <div style='background-image: url("{{ neighbourhood.display.url }}")' class="imageblock"></div>
          <div class="card-body text-center">
          <div class="text-left">
              <h4 class="card-title">
                  <strong>{{ neighbourhood.Name }}</strong>
                  <span class="float-right">{{ neighbourhood.people.count }}</span>
              </h4>
              <div  class="card-text small">{{ neighbourhood.description }}</div>
          </div>
          {% if not request.user.profile.neighbourhood %}
          <button class="btn btn-outline-primary joinbtn navigation" route="{% url 'join' neigh_id=neighbourhood.id %}" >Join Group</button>
          {% elif request.user.profile.neighbourhood == neighbourhood %}
          <button class="btn btn-outline-danger joinbtn navigation" route="{% url 'left' neigh_id=neighbourhood.id %}" >Leave Group</button>
          {% endif %}
          </div>




          <!-- <nav class="d-non d-md-block col-md-3" style="padding-left: 100px;" id="sidebar">
            <ul class="nav nav-pills nav-fill flex-column">
              <li class="nav-item">
                  <button class="btn btn-block btn-outline-success navigation" route="/myaccount/">My account</button>
              </li>
              <li class="nav-item">
                  <button class="btn btn-block btn-outline-success navigation" route="/hoods/">Neighbourhoods</button>
              </li>
            {% if request.user.profile.neighbourhood %}
                {% with request.user.profile.neighbourhood as hood %}
                  <li class="nav-item">
                      <button class="btn btn-block btn-outline-success navigation" route="/myhood/">{{ hood.Name }} hood</button>
                  </li>
                {% endwith %}
            {% endif %}
            </ul>
            <a class="btn btn-outline-danger mx-auto d-block lgout" href="/accounts/logout">Log out</a>
          </nav> -->

     </div>
    </div>
    {% endfor %}
</div>
{% endblock %}